In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\rawdata\new')
import datetime
datetime.date.today().strftime('%Y%m%d')

'20200812'

In [3]:
note='1WZ9_1S_20H1'
t=datetime.date.today().strftime('%Y%m%d')

In [5]:
files=os.listdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\rawdata\new')
files= [n for n in files if n !='finished' ]
files

['1S_1907_2006.csv', '1WZ9_1907_1912.csv', '1WZ9_2001_2006.csv']

In [6]:
df01=pd.DataFrame(columns=['id','Address','Response_Address','Response_X','Response_Y'])
for i in files:
    print(i)
    df02=pd.read_csv(i,error_bad_lines=False,header=None)
    df02.columns=['id','Address']
    print(df02.shape)
    df01=pd.concat([df01,df02]).reset_index(drop=True)
    print(df01.shape)
    print('----------------------------------------')
print(df01.shape)

df03=df01.drop_duplicates(subset=['id'],keep='first').reset_index(drop=True)
print(df03.shape)

1S_1907_2006.csv
(138, 2)
(138, 5)
----------------------------------------
1WZ9_1907_1912.csv
(3389, 2)
(3527, 5)
----------------------------------------
1WZ9_2001_2006.csv
(17331, 2)
(20858, 5)
----------------------------------------
(20858, 5)
(20385, 5)

In [7]:
df03.head()

               id              Address Response_Address Response_X Response_Y
0  19970114000024     桃園市龜山區大崗村頂湖路50之2              NaN        NaN        NaN
1  19990527000176      台北市內湖區麗園街42巷25號              NaN        NaN        NaN
2  19991025003999       台南市東　區崇德15街66號              NaN        NaN        NaN
3  20000625001571      彰化縣員林鎮員水路二段四一一號              NaN        NaN        NaN
4  20001110000513  嘉義市嘉義市西區世賢路一段３６０之１號              NaN        NaN        NaN

In [8]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data')
for i in range((df03.shape[0]//10000)+1):
    df04=df03.iloc[i*10000:(i+1)*10000,:]
    print(df04.shape)
    df04.to_csv(note+'_'+str(i).zfill(2)+'.csv',index=False,encoding='utf-8-sig')

(10000, 5)
(10000, 5)
(385, 5)