In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\rawdata\old')
import datetime
datetime.date.today().strftime('%Y%m%d')

'20210308'

In [3]:
note='20210308_old'
t=datetime.date.today().strftime('%Y%m%d')

In [4]:
files=os.listdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\rawdata\old')
files= [n for n in files if n !='finished' ]
files

['old_20210308.csv']

In [5]:
df01=pd.DataFrame(columns=['id','Address','Response_Address','Response_X','Response_Y'])
for i in files:
    print(i)
    df02=pd.read_csv(i,error_bad_lines=False,header=None)
    df02.columns=['id','Address']
    print(df02.shape)
    df01=pd.concat([df01,df02]).reset_index(drop=True)
    print(df01.shape)
    print('----------------------------------------')
print(df01.shape)

df03=df01.drop_duplicates(subset=['id'],keep='first').reset_index(drop=True)
print(df03.shape)

old_20210308.csv
(6311, 2)
(6311, 5)
----------------------------------------
(6311, 5)
(6311, 5)

b'Skipping line 401: expected 2 fields, saw 3\nSkipping line 652: expected 2 fields, saw 3\nSkipping line 694: expected 2 fields, saw 3\nSkipping line 916: expected 2 fields, saw 3\nSkipping line 1471: expected 2 fields, saw 3\nSkipping line 1536: expected 2 fields, saw 3\nSkipping line 1957: expected 2 fields, saw 3\nSkipping line 2169: expected 2 fields, saw 6\nSkipping line 2572: expected 2 fields, saw 3\nSkipping line 2778: expected 2 fields, saw 3\nSkipping line 2809: expected 2 fields, saw 3\nSkipping line 3258: expected 2 fields, saw 3\nSkipping line 3295: expected 2 fields, saw 3\nSkipping line 3401: expected 2 fields, saw 4\nSkipping line 3934: expected 2 fields, saw 3\nSkipping line 5454: expected 2 fields, saw 3\nSkipping line 5855: expected 2 fields, saw 3\nSkipping line 6023: expected 2 fields, saw 3\nSkipping line 6252: expected 2 fields, saw 3\n'

In [6]:
df03.head(40)

,id,Address,Response_Address,Response_X,Response_Y
0,20011121001336,台南市安南區長溪路一段476巷22號,NaN,NaN,NaN
1,20011227000965,桃園市桃園區ASD,NaN,NaN,NaN
2,20020105000510,新北市新莊區立信一街43號10樓,NaN,NaN,NaN
3,20020320000103,台中市北屯區僑孝街28號3樓之一,NaN,NaN,NaN
4,20020323000223,台中市南 區工學北路49號,NaN,NaN,NaN
5,20020826000878,台南市鹽水區清?路149號,NaN,NaN,NaN
6,20020905000572,新北市五股區新城五路3號5樓,NaN,NaN,NaN
7,20000511000560,彰化縣埔鹽鄉彰水路1段36號F,NaN,NaN,NaN
8,20000516004906,新北市樹林區學府路360號2樓,NaN,NaN,NaN
9,20000603001224,新北市土城區大義路238號17樓,NaN,NaN,NaN
10,20000702000997,宜蘭縣冬山鄉得安路76號,NaN,NaN,NaN
11,20000826004839,新北市汐止區大同路2段272巷7號,NaN,NaN,NaN
12,20000830000123,南投縣南投市同源二街34巷39號,NaN,NaN,NaN
13,20001007000414,桃園市桃園區民有五街110號2樓,NaN,NaN,NaN
14,20001028000179,高雄市湖內區湖內正義二路59巷6號,NaN,NaN,NaN
15,20010216000234,新北市三峽區大義路21號3樓,NaN,NaN,NaN
16,20010227005112,新竹縣竹北市成功八路202號2樓之2,NaN,NaN,NaN
17,20010316004405,桃園市龜山區文青里41鄰文青路355號21樓之3,NaN,NaN,NaN
18,20010526001166,台南市永康區小東路423巷8號4樓之5,NaN,NaN,NaN
19,20010624000407,台中市西屯區福科路901巷11號,NaN,NaN,NaN
20,20011024002628,台中市南屯區大英西一街92號5樓,NaN,NaN,NaN
21,20011207000606,台中市北屯區昌平路3段189號佑鑫鋼鋁,NaN,NaN,NaN
22,20020214001337,新北市淡水區沙崙路一段126巷105號10樓,NaN,NaN,NaN
23,20020329001795,新北市蘆洲區民權路3巷14弄11號3樓,NaN,NaN,NaN
24,20020404003528,高雄市大寮區巷尾路78之45號,NaN,NaN,NaN
25,20020405000560,高雄市左營區重立路757號,NaN,NaN,NaN
26,20020529000957,新北市永和區環河西路二段243號4樓,NaN,NaN,NaN
27,20020711000267,新北市淡水區蕃薯里7鄰雲廣坑10-3號4樓,NaN,NaN,NaN
28,20020826000667,台中市北屯區軍福九路606號13樓之5,NaN,NaN,NaN
29,20000521001892,高雄市鳳山區七成街140號,NaN,NaN,NaN
30,20000529001143,新北市新莊區思源路332巷61號6樓,NaN,NaN,NaN
31,20000529001576,基隆市安樂區花源五街32號,NaN,NaN,NaN
32,20000605006462,新北市新莊區龍安路69巷20號8樓,NaN,NaN,NaN
33,20000826006760,台南市南 區大林路109號6樓之一,NaN,NaN,NaN
34,20000918000678,台中市潭子區中山路二段283巷6號3樓之二,NaN,NaN,NaN
35,20010127001341,南投縣竹山鎮集山路2段58號,NaN,NaN,NaN
36,20010405001168,台南市北 區西門路三段134號8樓之4,NaN,NaN,NaN
37,20010630000126,嘉義市嘉義市西區南京東街212號4樓之3,NaN,NaN,NaN
38,20010804001231,高雄市仁武區仁怡一街131號,NaN,NaN,NaN
39,20010805001421,高雄市岡山區竹圍西街234號2樓,NaN,NaN,NaN

In [7]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data')
df03.to_excel(note+'.xlsx',index=False,encoding='utf-8-sig')

In [8]:
df03.Address=df03.Address.astype('str')
df03.Address=df03.Address.apply(lambda x:x.translate(str.maketrans('０１２３４５６７８９', '0123456789')))

In [9]:
import re

# 將正規表示式編譯成 Pattern 物件

In [10]:
df03.Address=df03.Address.apply(lambda x:re.sub('號.*','號',x))
df03.Address=df03.Address.apply(lambda x:re.sub('之[0-9]*號','號',x))
df03.Address=df03.Address.apply(lambda x:re.sub('[-,－][0-9]*號','號',x))
df03.Address=df03.Address.apply(lambda x:re.sub('[(,),（,）]','',x))
df03.Address=df03.Address.apply(lambda x:re.sub('[-,－]','',x))
#df03.Address=df03.Address.apply(lambda x:re.sub('\s','',x))

df03.Address=df03.Address.apply(lambda x:re.sub('30街','三十街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('31街','三十一街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('32街','三十二街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('33街','三十三街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('34街','三十四街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('35街','三十五街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('36街','三十六街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('37街','三十七街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('38街','三十八街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('39街','三十九街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('20街','二十街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('21街','二十一街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('22街','二十二街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('23街','二十三街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('24街','二十四街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('25街','二十五街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('26街','二十六街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('27街','二十七街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('28街','二十八街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('29街','二十九街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('11街','十一街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('12街','十二街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('13街','十三街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('14街','十四街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('15街','十五街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('16街','十六街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('17街','十七街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('18街','十八街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('19街','十九街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('1街','一街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('2街','二街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('3街','三街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('4街','四街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('5街','五街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('6街','六街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('7街','七街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('8街','八街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('9街','九街',x))
df03.Address=df03.Address.apply(lambda x:re.sub('10街','十街',x))


df03.Address=df03.Address.apply(lambda x:re.sub('30路','三十路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('31路','三十一路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('32路','三十二路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('33路','三十三路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('34路','三十四路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('35路','三十五路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('36路','三十六路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('37路','三十七路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('38路','三十八路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('39路','三十九路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('20路','二十路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('21路','二十一路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('22路','二十二路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('23路','二十三路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('24路','二十四路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('25路','二十五路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('26路','二十六路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('27路','二十七路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('28路','二十八路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('29路','二十九路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('10路','十路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('11路','十一路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('12路','十二路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('13路','十三路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('14路','十四路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('15路','十五路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('16路','十六路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('17路','十七路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('18路','十八路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('19路','十九路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('1路','一路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('2路','二路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('3路','三路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('4路','四路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('5路','五路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('6路','六路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('7路','七路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('8路','八路',x))
df03.Address=df03.Address.apply(lambda x:re.sub('9路','九路',x))

df03.Address=df03.Address.apply(lambda x:re.sub('1段','一段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('2段','二段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('3段','三段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('4段','四段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('5段','五段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('6段','六段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('7段','七段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('8段','八段',x))
df03.Address=df03.Address.apply(lambda x:re.sub('9段','九段',x))

df03.Address=df03.Address.apply(lambda x:re.sub('廈門街','厦門街',x))

In [11]:
'''
pattern=re.compile(r'.*[路,街,段]')
for i in range(df03.shape[0]):
    if pattern.findall(df03.Address[i]):
        new=pattern.findall(df03.Address[i])[0].translate(str.maketrans('1234567890', '一二三四五六七八九十'))
        df03.Address[i]=df03.Address[i].replace(pattern.findall(df03.Address[i])[0],new)
'''

"\npattern=re.compile(r'.*[路,街,段]')\nfor i in range(df03.shape[0]):\n    if pattern.findall(df03.Address[i]):\n        new=pattern.findall(df03.Address[i])[0].translate(str.maketrans('1234567890', '一二三四五六七八九十'))\n        df03.Address[i]=df03.Address[i].replace(pattern.findall(df03.Address[i])[0],new)\n"

In [16]:
df03.Address[df03.Address.apply(lambda x:x[0:6]==x[6:12])]=df03.Address[df03.Address.apply(lambda x:x[0:6]==x[6:12])].apply(lambda x:x[6:])
df03.Address[df03.Address.apply(lambda x:x[0:3]==x[3:6])]=df03.Address[df03.Address.apply(lambda x:x[0:3]==x[3:6])].apply(lambda x:x[3:])
df03.Address[df03.Address.apply(lambda x:x[3:6]==x[6:9])]=df03.Address[df03.Address.apply(lambda x:x[3:6]==x[6:9])].apply(lambda x:x[0:3]+x[6:])
df03.Address[df03.Address.apply(lambda x:x[0:3]==x[6:9])]=df03.Address[df03.Address.apply(lambda x:x[0:3]==x[6:9])].apply(lambda x:x[0:6]+x[9:])

In [17]:
df03.Address[df03.Address.apply(lambda x:x[0:6]==x[6:12])]

Series([], Name: Address, dtype: object)

In [18]:
df03.Address[df03.Address.apply(lambda x:x[0:3]==x[3:6])]

Series([], Name: Address, dtype: object)

In [19]:
df03.Address[df03.Address.apply(lambda x:x[0:3]==x[6:9])]

Series([], Name: Address, dtype: object)

In [20]:
df03.Address=df03.Address.apply(lambda x:re.sub('高市','',x))

In [21]:
pop=pd.read_excel(r'C:\Users\RT009223\TestriteGroup\滲透率專案\02_adjusted data\台灣202008年村里人口.xlsx')

In [22]:
pop.head()

    縣市  行政區   村里    戶口    人口
0  高雄市  林園區  中門里  1119  2871
1  高雄市  林園區  港埔里   821  2049
2  高雄市  旗津區  上竹里  1380  3213
3  高雄市  旗津區  中興里  1065  2881
4  連江縣  南竿鄉  津沙村   114   443

In [23]:
for site in range(df03.shape[0]):
    check01=[i in df03.Address[site] for i in pop['行政區'].unique()]
    if sum(check01)>1:
        for d in pop['行政區'].unique()[check01]:
            df03.Address[site]=re.sub(d,'',df03.Address[site])
    if site%2000 ==0:
        print(site)

0
2000
4000
6000

In [24]:
n=0
for site in range(df03.shape[0]):
    check01=[i in df03.Address[site] for i in pop['縣市'].unique()]
    if sum(check01)>1:
        for d in pop['縣市'].unique()[check01]:
            df03.Address[site]=re.sub(d,'',df03.Address[site])
            n+=1
    if site%2000 ==0:
        print(site)
print(n)

0
2000
4000
6000
0

In [25]:
check02=[i[:-1] for i in (pop['行政區'].unique()+pop['行政區'].unique())]
check02=[i for i in check02 if len(i)==5]
#check02_2=[i[:3] for i in check02]

In [26]:
check02[:5]

['林園區林園', '旗津區旗津', '南竿鄉南竿', '北竿鄉北竿', '潮州鎮潮州']

In [27]:
n=0
for site in range(df03.shape[0]):
    check01=[i in df03.Address[site] for i in check02]
    if sum(check01)==1:
        try:
            pattern01 = re.compile(r'[路,街,村,里,段,巷]')
            pattern02 = re.compile(np.array(check02)[check01][0])
            s1=pattern01.search(df03.Address[site]).span()[0]
            s2=pattern02.search(df03.Address[site]).span()[1]

            if (s1-(s2-1))>2:
                df03.Address[site]=re.sub(np.array(check02)[check01][0],np.array(check02)[check01][0][:3],df03.Address[site])
            n+=1
        except:
            print(df03.Address[site],'error')
    if site%2000 ==0:
        print(site)
print(n)

0
桃園市蘆竹區蘆竹 error
彰化縣彰化市彰化 error
2000
4000
台南市官田區官田二鄰186號 error
台南市麻豆區麻豆口31號 error
6000
98

In [28]:
df03=df03.drop_duplicates(subset=['id'],keep='first').reset_index(drop=True)

In [29]:
print(df03.shape)
df03.head(20)

(6311, 5)

                id              Address Response_Address Response_X Response_Y
0   20011121001336      台南市長溪路一段476巷22號              NaN        NaN        NaN
1   20011227000965            桃園市桃園區ASD              NaN        NaN        NaN
2   20020105000510        新北市新莊區立信一街43號              NaN        NaN        NaN
3   20020320000103         台中市北屯區僑孝街28號              NaN        NaN        NaN
4   20020323000223        台中市南　區工學北路49號              NaN        NaN        NaN
5   20020826000878        台南市鹽水區清?路149號              NaN        NaN        NaN
6   20020905000572         新北市五股區新城五路3號              NaN        NaN        NaN
7   20000511000560       彰化縣埔鹽鄉彰水路一段36號              NaN        NaN        NaN
8   20000516004906        新北市樹林區學府路360號              NaN        NaN        NaN
9   20000603001224        新北市土城區大義路238號              NaN        NaN        NaN
10  20000702000997         宜蘭縣冬山鄉得安路76號              NaN        NaN        NaN
11  20000826004839    新北市汐止區大同路二段272巷7號              NaN        NaN        NaN
12  20000830000123     南投縣南投市同源二街34巷39號              NaN        NaN        NaN
13  20001007000414       桃園市桃園區民有五街110號              NaN        NaN        NaN
14  20001028000179      高雄市湖內區正義二路59巷6號              NaN        NaN        NaN
15  20010216000234         新北市三峽區大義路21號              NaN        NaN        NaN
16  20010227005112       新竹縣竹北市成功八路202號              NaN        NaN        NaN
17  20010316004405  桃園市龜山區文青里41鄰文青路355號              NaN        NaN        NaN
18  20010526001166      台南市永康區小東路423巷8號              NaN        NaN        NaN
19  20010624000407     台中市西屯區福科路901巷11號              NaN        NaN        NaN

In [30]:
df03=df03[df03.Address.apply(lambda x:len(x)>=8)].reset_index(drop=True)
print(df03.shape)
df03.head(20)

(6084, 5)

                id              Address Response_Address Response_X Response_Y
0   20011121001336      台南市長溪路一段476巷22號              NaN        NaN        NaN
1   20011227000965            桃園市桃園區ASD              NaN        NaN        NaN
2   20020105000510        新北市新莊區立信一街43號              NaN        NaN        NaN
3   20020320000103         台中市北屯區僑孝街28號              NaN        NaN        NaN
4   20020323000223        台中市南　區工學北路49號              NaN        NaN        NaN
5   20020826000878        台南市鹽水區清?路149號              NaN        NaN        NaN
6   20020905000572         新北市五股區新城五路3號              NaN        NaN        NaN
7   20000511000560       彰化縣埔鹽鄉彰水路一段36號              NaN        NaN        NaN
8   20000516004906        新北市樹林區學府路360號              NaN        NaN        NaN
9   20000603001224        新北市土城區大義路238號              NaN        NaN        NaN
10  20000702000997         宜蘭縣冬山鄉得安路76號              NaN        NaN        NaN
11  20000826004839    新北市汐止區大同路二段272巷7號              NaN        NaN        NaN
12  20000830000123     南投縣南投市同源二街34巷39號              NaN        NaN        NaN
13  20001007000414       桃園市桃園區民有五街110號              NaN        NaN        NaN
14  20001028000179      高雄市湖內區正義二路59巷6號              NaN        NaN        NaN
15  20010216000234         新北市三峽區大義路21號              NaN        NaN        NaN
16  20010227005112       新竹縣竹北市成功八路202號              NaN        NaN        NaN
17  20010316004405  桃園市龜山區文青里41鄰文青路355號              NaN        NaN        NaN
18  20010526001166      台南市永康區小東路423巷8號              NaN        NaN        NaN
19  20010624000407     台中市西屯區福科路901巷11號              NaN        NaN        NaN

In [31]:
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data')
for i in range((df03.shape[0]//10000)+1):
    df04=df03.iloc[i*10000:(i+1)*10000,:]
    print(df04.shape)
    df04.to_csv(note+'_'+str(i).zfill(2)+'.csv',index=False,encoding='utf-8-sig')

(6084, 5)