In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_download\rawdata\new')
import datetime
datetime.date.today().strftime('%Y%m%d')

'20200814'

In [3]:
#note='ABG_20H1'
#t=(datetime.date.today()-datetime.timedelta(days=1)).strftime('%Y%m%d')
t=datetime.date.today().strftime('%Y%m%d')
t

'20200814'

In [4]:
files=os.listdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_download\rawdata\new')
files= [n for n in files if n !='finished' ]
files

['1WZ9_1S_20H1_00.csv', '1WZ9_1S_20H1_01.csv', '1WZ9_1S_20H1_02.csv']

In [5]:
df01=pd.DataFrame(columns=['id', 'Address', 'Response_Address', 'Response_X', 'Response_Y', 'date','process_id'])
for i in files:
    print(i)
    df02=pd.read_csv(i)
    print(df02.shape)
    df02=df02[df02.id.apply(lambda x:len(str(x))==14)].dropna().reset_index(drop=True)
    df02['date']=datetime.datetime.today()
    df02['process_id']=i[:-4]
    print(df02.shape)
    df01=pd.concat([df01,df02]).reset_index(drop=True)
    print(df01.shape)
    print('----------------------------------------')
print(df01.shape)

df03=df01.drop_duplicates(subset=['id'],keep='first').reset_index(drop=True)
print(df03.shape)

1WZ9_1S_20H1_00.csv
(10000, 5)
(5164, 7)
(5164, 7)
----------------------------------------
1WZ9_1S_20H1_01.csv
(10000, 5)
(8001, 7)
(13165, 7)
----------------------------------------
1WZ9_1S_20H1_02.csv
(385, 5)
(306, 7)
(13471, 7)
----------------------------------------
(13471, 7)
(13471, 7)

In [6]:
df03.drop_duplicates(subset=['id'],keep='first').shape

(13471, 7)

In [7]:
df03

,id,Address,Response_Address,Response_X,Response_Y,date,process_id
0,20000625001571,彰化縣員林鎮員水路二段四一一號,彰化縣員林市萬年里16鄰員水路二段411號,120.579387,23.955584,2020-08-14 16:21:08.576641,1WZ9_1S_20H1_00
1,20001116000259,桃園市蘆竹區新莊村大新路814巷42號,桃園市蘆竹區新莊里12鄰大新路814巷43號,121.243317,25.024004,2020-08-14 16:21:08.576641,1WZ9_1S_20H1_00
2,20010509000134,新北市新莊區中榮街47號5F,新北市新莊區中信里28鄰中榮街47號,121.449547,25.052716,2020-08-14 16:21:08.576641,1WZ9_1S_20H1_00
3,20030521041124,新北市三重區三和路四段167巷154號,新北市三重區慈生里6鄰三和路四段167巷154號,121.487392,25.080193,2020-08-14 16:21:08.576641,1WZ9_1S_20H1_00
4,20040112000558,新北市板橋區三民路２段１５９號４樓,新北市板橋區居仁里1鄰三民路二段159號,121.479266,25.014779,2020-08-14 16:21:08.576641,1WZ9_1S_20H1_00
...,...,...,...,...,...,...,...
13466,20200627001522,宜蘭縣冬山鄉中城路202號,宜蘭縣冬山鄉中山村7鄰中城路202號,121.746110,24.627274,2020-08-14 16:21:08.664213,1WZ9_1S_20H1_02
13467,20200629000047,桃園市蘆竹區南崁路1段328號B11-1A,桃園市蘆竹區長興里14鄰南崁路一段328號,121.283050,25.054777,2020-08-14 16:21:08.664213,1WZ9_1S_20H1_02
13468,20200629000078,桃園市桃園區中山路169號,桃園市桃園區文昌里4鄰中山路169號,121.309158,24.993244,2020-08-14 16:21:08.664213,1WZ9_1S_20H1_02
13469,20200629000713,基隆市中正區正義路29巷12號2樓,基隆市中正區正義里6鄰正義路29巷12號,121.747562,25.133545,2020-08-14 16:21:08.664213,1WZ9_1S_20H1_02
13470,30011423702000,高雄市鳳山區龍成路175巷40-4號,高雄市鳳山區龍成里9鄰龍成路175巷40之4號,120.329725,22.599661,2020-08-14 16:21:08.664213,1WZ9_1S_20H1_02

In [8]:
df03.to_excel('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TOGS/TGOS_download/up_to_SQL/'+t+'new.xlsx',index=0,encoding='utf-8-sig')