In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")
import os
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_download\rawdata\old')
import datetime
datetime.date.today().strftime('%Y%m%d')

'20210310'

In [3]:
#note='ABG_20H1'
#t=(datetime.date.today()-datetime.timedelta(days=1)).strftime('%Y%m%d')
t=datetime.date.today().strftime('%Y%m%d')
t

'20210310'

In [4]:
files=os.listdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_download\rawdata\old')
files= [n for n in files if n not in ['finished','finished_adjusted'] ]
files

['old_20210308_00.csv']

In [5]:
check=pd.read_excel(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data\TOGS\TGOS_upload\upload_data\old_20210308.xlsx',dtype='str')
print(check.shape)

(6311, 5)

In [6]:
df01=pd.DataFrame(columns=['id', 'Address', 'Response_Address', 'Response_X', 'Response_Y', 'date','process_id'])
for i in files:
    print(i)
    df02=pd.read_csv(i,error_bad_lines=False)
    print(df02.shape)
    df02=df02[df02.id.apply(lambda x:len(str(x))==14)].dropna().reset_index(drop=True)
    df02['date']=datetime.datetime.today()
    df02['process_id']=i[:-4]
    print(df02.shape)
    df01=pd.concat([df01,df02]).reset_index(drop=True)
    print(df01.shape)
    print('----------------------------------------')
print(df01.shape)

df03=df01.drop_duplicates(subset=['id'],keep='first').reset_index(drop=True)
print(df03.shape)

old_20210308_00.csv
(6084, 5)
(70, 7)
(70, 7)
----------------------------------------
(70, 7)
(70, 7)

In [7]:
check.id=check.id.astype('str')
df03.id=df03.id.astype('str')
df03=df03.drop(['Address'],1)
check=check.drop(['Response_Address', 'Response_X', 'Response_Y'],1)
df03=pd.merge(df03,check,how='left')

In [8]:
df03=df03.loc[:,['id', 'Address', 'Response_Address', 'Response_X', 'Response_Y', 'date','process_id']]

In [9]:
df03.drop_duplicates(subset=['id'],keep='first').shape

(70, 7)

In [10]:
df03.id=df03.id.astype('str')

In [11]:
df03=df03.drop_duplicates(subset=['id'],keep='first').reset_index(drop=True)
df03.head()

,id,Address,Response_Address,Response_X,Response_Y,date,process_id
0,20010316004405,桃園市龜山區文青里41鄰文青路355號21樓之3,桃園市龜山區文青里41鄰文青路355號,121.391822,25.039867,2021-03-10 11:54:00.563718,old_20210308_00
1,20020424001188,新北市淡水區竹圍里9鄰民族路65巷40號5樓,新北市淡水區竹圍里9鄰民族路65巷40號,121.463552,25.135500,2021-03-10 11:54:00.563718,old_20210308_00
2,20030412000554,新竹縣竹北市竹北里5鄰新瀧三街11號4樓之3,新竹縣竹北市竹北里5鄰新瀧三街11號,121.025684,24.833907,2021-03-10 11:54:00.563718,old_20210308_00
3,20021010001118,台中市烏日區烏日里44鄰建國路397號,臺中市烏日區烏日里44鄰建國路397號,120.628030,24.108965,2021-03-10 11:54:00.563718,old_20210308_00
4,20010617000289,台南市北 區元寶里3鄰開元路519號三樓之11,臺南市北區元寶里3鄰開元路519號,120.225638,23.011389,2021-03-10 11:54:00.563718,old_20210308_00

In [12]:
df03.to_excel('C:/Users/RT009223/TestriteGroup/滲透率專案/01_raw data/TOGS/TGOS_download/up_to_SQL/'+t+'old.xlsx',index=0,encoding='utf-8-sig')