In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import re

import geopandas as gpd
import requests,json


from shapely import geos
from shapely.geometry import Point
import fiona
from fiona.crs import from_epsg,from_string

from geopandas import GeoDataFrame
from shapely.geometry import Polygon
from geopandas import GeoSeries


from shapely import geometry
from shapely.geometry import shape,LineString,Point,Polygon

import osmnx as ox
import networkx as nx

import folium

from folium import IFrame

In [3]:
def rest(address):
    try:
        url = 'https://api.tomtom.com/search/2/geocode/{}.json?&key=h2n93GznJsnsDHtv2vPpdT9GmJijp9o9&countrySet=TWN&language=zh-TW&limit=1'.format(address)
        response = requests.get(url)
        data = response.text
        js = json.loads(str(data))
        return js['results'][0]['position']
    except Exception as e:
        print(f'An Error occurred: {e}')
        return {'lat':0,'lon':0}
    
def trans(gdf):
    gdf.crs = {'init' :'epsg:3824'} # 避免資料沒設，這邊再重新給一次
    gdf=gdf.to_crs({'init' :'epsg:4326'})
    return gdf

def utf2asc(s):
    return str(str(s).encode('ascii', 'xmlcharrefreplace'))[2:-1]

heading3 = """<h3>{}</h3>""".format

In [4]:
import warnings
warnings.filterwarnings("ignore")

# 設定row data的資料夾

In [183]:
import os
os.chdir(r'C:\Users\RT009223\TestriteGroup\滲透率專案\01_raw data')

In [184]:
filename='1A35_2020Q3'
save_file='1A35_'
save_year='2020Q3'

# SQL有正確地址的資料

In [185]:
df_01=pd.read_csv(filename+"一般卡會員(有完整地址).csv",error_bad_lines=False,header=None)
df_01.columns=['id','addr','lon','lat']
df_01.shape

(22884, 4)

## 第一次抓取 村里

In [186]:
pattern = re.compile(r'(..[市,縣])(.{1,2}[市,區,鄉,鎮])(.{2,3}[里,村])')
location=df_01.addr.apply(lambda x:pattern.findall(x))

addr01=[]
addr02=[]
addr03=[]
for i in location:
    if len(i)==1:
        addr01.append(i[0][0])
        addr02.append(i[0][1])
        addr03.append(i[0][2])        
    else:
        addr01.append(np.nan)
        addr02.append(np.nan)
        addr03.append(np.nan)

In [187]:
df_01['縣市']=addr01
df_01['行政區']=addr02
df_01['村里']=addr03

### 第一次 有村里 資料

In [188]:
df_02=df_01.dropna()
df_02.shape

(22884, 7)

### 村里邊界資料

In [189]:
gdf=gpd.read_file(r'C:\Users\RT009223\TestriteGroup\滲透率專案\02_adjusted data\geo data\VILLAGE_MOI_1090423.shp',encoding='utf-8')
gdf=gdf.loc[:,['COUNTYNAME','TOWNNAME','VILLNAME','geometry']]
gdf=trans(gdf)
gdf=gdf.dropna().reset_index(drop=True)
print(gdf.shape)

gdf.columns=['縣市','行政區','村里','geometry']
gdf['縣市']=list(gdf['縣市'].apply(lambda x:x.replace('臺','台')))
gdf['行政區']=list(gdf['行政區'].apply(lambda x:x.replace('臺','台')))
gdf['村里']=list(gdf['村里'].apply(lambda x:x.replace('臺','台')))

df_02['縣市']=list(df_02['縣市'].apply(lambda x:x.replace('臺','台')))
df_02['行政區']=list(df_02['行政區'].apply(lambda x:x.replace('臺','台')))
df_02['村里']=list(df_02['村里'].apply(lambda x:x.replace('臺','台')))

gdf['村里']=gdf['村里'].apply(lambda x:x.replace('舘','館'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('舘','館'))
gdf['村里']=gdf['村里'].apply(lambda x:x.replace('双','雙'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('双','雙'))
gdf['村里']=gdf['村里'].apply(lambda x:x.replace('石[曹]里','石𥕢里'))
gdf['村里']=gdf['村里'].apply(lambda x:x.replace('鷄林里','雞林里'))
gdf['村里']=gdf['村里'].apply(lambda x:x.replace('水磜村','水祭村'))
gdf['村里']=gdf['村里'].apply(lambda x:x.replace('珊湖里','珊瑚里'))

gdf['村里']=gdf['村里'].apply(lambda x:x.replace('欍','瓊'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('溝垻里','溝埧里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('崙峰里','崙峯里'))
gdf.head()

(7760, 4)

    縣市  行政區   村里                                           geometry
0  高雄市  林園區  中門里  POLYGON ((120.36772 22.49564, 120.36427 22.498...
1  高雄市  林園區  港埔里  POLYGON ((120.37325 22.49123, 120.37147 22.492...
2  高雄市  旗津區  上竹里  POLYGON ((120.28976 22.57317, 120.28577 22.577...
3  高雄市  旗津區  中興里  POLYGON ((120.30320 22.55568, 120.30284 22.557...
4  連江縣  南竿鄉  津沙村  POLYGON ((119.91684 26.14109, 119.91683 26.141...

### 檢查1

In [190]:
site1=df_02[-(df_02['縣市']+df_02['行政區']+df_02['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])].groupby(['村里'])['行政區'].nunique().reset_index(name='n').sort_values(by='n',ascending=False).reset_index(drop=True)
site1.head(10)

    村里  n
0  ??村  1
1  ?子里  1
2  糖?里  1
3  磚?里  1
4  瓦?里  1
5  瓦?村  1
6  灰?里  1
7  永?里  1
8  新?里  1
9  南?里  1

In [191]:
number=0
for i in site1[site1.n>0]['村里']:
    print(number,i, df_02[df_02['村里']==i]['行政區'].unique())
    number+=1

0 ??村 ['中埔鄉']
1 ?子里 ['北屯區']
2 糖?里 ['萬華區']
3 磚?里 ['西區']
4 瓦?里 ['中和區']
5 瓦?村 ['元長鄉']
6 灰?里 ['中和區']
7 永?里 ['三峽區']
8 新?里 ['永和區']
9 南?里 ['彰化市']
10 公?里 ['板橋區']
11 五?里 ['新店區']
12 ?行里 ['永康區']
13 ?榔里 ['新屋區']
14 ?林里 ['大園區']
15 ?廷里 ['土城區']
16 ?寮里 ['樹林區']
17 蔗?里 ['大肚區']

In [192]:
site2=site1[site1.n>0]['村里'][48]
site3=df_02[df_02['村里']==site2]['行政區'].unique()

for i in site3:
    print(i,list(gdf[gdf['行政區']==i]['村里'][gdf[gdf['行政區']==i]['村里'].str.contains('龜')]))

KeyError: 48

In [ ]:
df_02[-(df_02['縣市']+df_02['行政區']+df_02['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])]
df_02[(df_02['行政區']+df_02['村里'])=='埔心鄉埤脚村']

In [ ]:
gdf[(gdf['行政區']+gdf['村里'])=='埔心鄉埤霞村']

In [ ]:
df_02[-(df_02['縣市']+df_02['行政區']+df_02['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])].groupby(['行政區','村里']).count().sort_values(by='id',ascending=False).head(15)

In [ ]:
gdf[gdf['村里']=='三廍村']

In [ ]:
df_02[df_02['村里']=='五?里']['行政區'].unique()

### 字元調整

In [ ]:
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('糖部里','糖廍里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('糖?里','糖廍里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('磚?里','磚磘里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('磚瑤里','磚磘里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('珊湖里','珊瑚里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('下?里','下廍里'))

df_02.loc[df_02['行政區']=='彰化市',['村里']]=df_02.loc[df_02['行政區']=='彰化市',['村里']].apply(lambda x:x.replace('南?里','南瑶里'))
df_02.loc[df_02['行政區']=='官田區',['村里']]=df_02.loc[df_02['行政區']=='官田區',['村里']].apply(lambda x:x.replace('南?里','南廍里'))
#df_02['村里']=df_02['村里'].apply(lambda x:x.replace('南?里','南瑶里'))


df_02['村里']=df_02['村里'].apply(lambda x:x.replace('崙?里','崙峯里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?子里','廍子里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('石?村','石硦村'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('上?里','上館里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('永?里','永館里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('瓦?村','瓦磘村'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('瓦?里','瓦磘里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('五?里','五峯里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?行里','塩行里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?廷里','峯廷里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?興里','塩興里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?廷里','峯廷里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('公?里','公館里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?洲里','塩洲里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?龍里','雙龍里'))

#df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?林里','雞林里'))
df_02.loc[df_02['行政區']=='竹東鎮',['村里']]=df_02.loc[df_02['行政區']=='竹東鎮',['村里']].apply(lambda x:x.replace('?林里','雞林里'))

df_02.loc[df_02['行政區']=='大園區',['村里']]=df_02.loc[df_02['行政區']=='大園區',['村里']].apply(lambda x:x.replace('?林里','菓林里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?寮里','獇寮里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('新?里','新廍里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('蔗?里','蔗廍里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?埔里','坔埔里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?榔里','槺榔里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?江里','晋江里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?福村','雙福村'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('爪?里','爪峯里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('舊?村','舊館村'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('南?村','南館村'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('灰?里','灰磘里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('三?村','三廍村'))


df_02.loc[df_02['行政區']=='將軍區',['村里']]=df_02.loc[df_02['行政區']=='將軍區',['村里']].apply(lambda x:x.replace('忠興里','忠嘉里'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('下部里','下廍里'))
df_02.loc[df_02['行政區']=='埔鹽鄉',['村里']]=df_02.loc[df_02['行政區']=='埔鹽鄉',['村里']].apply(lambda x:x.replace('?子村','廍子村'))
df_02.loc[df_02['行政區']=='四湖鄉',['村里']]=df_02.loc[df_02['行政區']=='四湖鄉',['村里']].apply(lambda x:x.replace('?子村','萡子村'))

df_02['村里']=df_02['村里'].apply(lambda x:x.replace('?田里','塩田里'))
df_02['村里']=df_02['村里'].apply(lambda x:x.replace('山?里','山脚里'))

df_02.loc[df_02['行政區']=='北埔鄉',['村里']]=df_02.loc[df_02['行政區']=='北埔鄉',['村里']].apply(lambda x:x.replace('水?村','水祭村'))
df_02.loc[df_02['行政區']=='北埔鄉',['村里']]=df_02.loc[df_02['行政區']=='北埔鄉',['村里']].apply(lambda x:x.replace('水？村','水祭村'))
df_02.loc[df_02['行政區']=='瑞芳區',['村里']]=df_02.loc[df_02['行政區']=='瑞芳區',['村里']].apply(lambda x:x.replace('?洞里','濂洞里'))

df_02.loc[df_02['行政區']=='埔心鄉',['村里']]=df_02.loc[df_02['行政區']=='埔心鄉',['村里']].apply(lambda x:x.replace('埤?村','埤脚村'))

### 第一次抓取 村里 與 geo data 合不合

In [193]:
#合
df_02_1=df_02[(df_02['縣市']+df_02['行政區']+df_02['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])].reset_index(drop=True)

#不合
df_02_2=df_02[-(df_02['縣市']+df_02['行政區']+df_02['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])].reset_index(drop=True)
print(df_02_1.shape)
print(df_02_2.shape)

(22294, 7)
(590, 7)

### 不合的資料用經緯度 與村里邊界資料mapping

In [194]:
df_02_2.lon=df_02_2.lon.apply(lambda x:float(x))
df_02_2.lat=df_02_2.lat.apply(lambda x:float(x))

In [195]:
df_02_2

,id,addr,lon,lat,縣市,行政區,村里
0,20180730000668,新北市三峽區永?里22鄰復興路155號 ...,121.370719,24.938186,新北市,三峽區,永?里
1,20051123000241,新北市土城區?廷里23鄰延吉街176號 ...,121.468071,24.985241,新北市,土城區,?廷里
2,20151005000915,新北市三峽區永?里20鄰復興路177巷5號 ...,121.369992,24.938096,新北市,三峽區,永?里
3,20180929000784,新北市三峽區永?里1鄰復興路43號 ...,121.373493,24.936689,新北市,三峽區,永?里
4,20180205000423,新北市三峽區永?里12鄰民生街146巷8號 ...,121.372375,24.935285,新北市,三峽區,永?里
...,...,...,...,...,...,...,...
585,19990124002328,新北市三峽區永?里9鄰民生街100號 ...,121.373882,24.935603,新北市,三峽區,永?里
586,20010101001456,新北市三峽區永?里19鄰文化路120巷19號 ...,121.370932,24.936760,新北市,三峽區,永?里
587,20030318046446,新北市三峽區永?里15鄰和平街7號 ...,121.370320,24.934970,新北市,三峽區,永?里
588,19971010000337,新北市三峽區永?里1鄰復興路43號 ...,121.373493,24.936689,新北市,三峽區,永?里
589,20150215000368,新北市三峽區永?里19鄰文化路120巷5號 ...,121.370919,24.936554,新北市,三峽區,永?里

In [196]:
geom=[Point(data.lon,data.lat) for idx, data in df_02_2.iterrows()]
crs = {'init': 'epsg:4326'}
df_02_2 = gpd.GeoDataFrame(df_02_2, crs=crs, geometry=geom)
print(df_02_2.shape)

(590, 8)

In [197]:
df_02_3 = gpd.tools.sjoin(df_02_2,gdf, how="inner", op='intersects')
df_02_3.shape

(590, 12)

In [198]:
df_02_3=df_02_3.iloc[:,[0,1,2,3,9,10,11]].reset_index(drop=True)
df_02_3.columns=['id','addr','lon','lat','縣市','行政區','村里']
df_02_3.head(9)

,id,addr,lon,lat,縣市,行政區,村里
0,20180730000668,新北市三峽區永?里22鄰復興路155號 ...,121.370719,24.938186,新北市,三峽區,永館里
1,20151005000915,新北市三峽區永?里20鄰復興路177巷5號 ...,121.369992,24.938096,新北市,三峽區,永館里
2,20180929000784,新北市三峽區永?里1鄰復興路43號 ...,121.373493,24.936689,新北市,三峽區,永館里
3,20180205000423,新北市三峽區永?里12鄰民生街146巷8號 ...,121.372375,24.935285,新北市,三峽區,永館里
4,20170622000155,新北市三峽區永?里12鄰民生街146巷5號 ...,121.372257,24.935159,新北市,三峽區,永館里
5,20020103004236,新北市三峽區永?里10鄰文化路76號 ...,121.372052,24.936233,新北市,三峽區,永館里
6,20000407000307,新北市三峽區永?里12鄰民生街146巷8號 ...,121.372375,24.935285,新北市,三峽區,永館里
7,20000605001045,新北市三峽區永?里25鄰復興路166號 ...,121.371066,24.938472,新北市,三峽區,永館里
8,19990403000926,新北市三峽區永?里8鄰中山路67巷13號 ...,121.366089,24.934238,新北市,三峽區,永館里

## 合併 合與不合的資料
## 獲得完整的第一次抓取 村里

In [199]:
df_02=pd.concat([df_02_1,df_02_3]).reset_index(drop=True)
df_02.shape

(22884, 7)

## 第一次抓取 無村里的資料

In [200]:
df_03=df_01[-df_01.id.isin(df_02.id)].dropna(subset=['lon'])
df_03.shape

(0, 7)

### 第二次抓取 村里

In [201]:
pattern = re.compile(r'(..[市,縣])(.{2,3}[市,區,鄉,鎮])(.{1,2}[里,村])')
location=df_03.addr.apply(lambda x:pattern.findall(x))

addr01=[]
addr02=[]
addr03=[]
for i in location:
    if len(i)==1:
        addr01.append(i[0][0])
        addr02.append(i[0][1])
        addr03.append(i[0][2])        
    else:
        addr01.append(np.nan)
        addr02.append(np.nan)
        addr03.append(np.nan)

In [202]:
df_03['縣市']=addr01
df_03['行政區']=addr02
df_03['村里']=addr03

### 第二次抓取 村里 與 geo data 合不合

In [203]:
#合
df_03_1=df_03[(df_03['縣市']+df_03['行政區']+df_03['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])].reset_index(drop=True)
print(df_03_1.shape)

#不合
df_03_2=df_03[-(df_03['縣市']+df_03['行政區']+df_03['村里']).isin(gdf['縣市']+gdf['行政區']+gdf['村里'])].reset_index(drop=True)
print(df_03_2.shape)

(0, 7)
(0, 7)

### 不合的資料用經緯度 與村里邊界資料mapping

In [204]:
def to_float(x):
    try:
        return float(x)
    except:
        return 0

In [205]:
df_03_2.lon=df_03_2.lon.apply(to_float)
df_03_2.lat=df_03_2.lat.apply(to_float)

In [206]:
if df_03_2.shape[0]>0:
    geom=[Point(data.lon,data.lat) for idx, data in df_03_2.iterrows()]
    crs = {'init': 'epsg:4326'}
    df_03_2 = gpd.GeoDataFrame(df_03_2, crs=crs, geometry=geom)
    print(df_03_2.shape)
    df_03_3 = gpd.tools.sjoin(df_03_2,gdf, how="inner", op='intersects')
    print(df_03_3.shape)
    df_03_3=df_03_3.iloc[:,[0,1,2,3,9,10,11]].reset_index(drop=True)
    df_03_3.columns=['id','addr','lon','lat','縣市','行政區','村里']
    print(df_03_3.shape)
else:
    df_03_3=df_03_2.copy()

In [207]:
df_03_2[-df_03_2.id.isin(df_03_3.id)]

Empty DataFrame
Columns: [id, addr, lon, lat, 縣市, 行政區, 村里]
Index: []

## 合併 合與不合的資料
## 獲得完整的第二次抓取 村里

In [208]:
#df_03=df_03_1.copy()
df_03=pd.concat([df_03_1,df_03_3]).reset_index(drop=True)

## 合併 第一次抓取 有村里 與 無村里 資料，獲得SLQ有正確地址的資料

In [209]:
df_01=pd.concat([df_02,df_03]).reset_index(drop=True)
df_01.shape

(22884, 7)

# 存檔

In [210]:
df_01.to_csv('C:/Users/RT009223/TestriteGroup/滲透率專案/02_adjusted data/'+save_file+'會員位置(經整理_配對村里)_一般卡_'+save_year+'.txt',index=0)

# SLQ無正確地址的資料

In [211]:
df_04=pd.read_excel(filename+'一般卡會員(無完整地址).xlsx')
df_04.shape

(2740, 3)

In [212]:
df_04['addr']=df_04.addr.apply(lambda x:str(x))

# 區分有可用的地址 與 無可用的地址
## 有可用的地址

In [213]:
df_04_1=df_04[df_04.addr.apply(lambda x:len(x)>9)].reset_index(drop=True)
df_04_1.shape

(1355, 3)

In [214]:
pattern = re.compile(r'..[市,縣].+[路,街].+')
location=df_04_1.addr.apply(lambda x:pattern.findall((x)))

addr01=[]
for i in location:
    if len(i)==1:
        addr01.append(i[0])      
    else:
        addr01.append(np.nan)

In [215]:
df_04_1.addr=addr01
df_04_1=df_04_1.dropna(subset=['addr']).reset_index(drop=True)
df_04_1.shape

(1108, 3)

In [216]:
df_04_1['lon']=float(0)
df_04_1['lat']=float(0)
df_04_1['check']=0
df_04_1.head()

               id                 addr   zone  lon  lat  check
0  30014945802000     新北市鶯歌區三峽鎮復興路142號  239.0  0.0  0.0      0
1  20030318094413         新北市三峽區公壽路二段5  237.0  0.0  0.0      0
2  19990117000209  新北市板橋區板橋新海路72巷65號八樓  220.0  0.0  0.0      0
3  20180203000400      苗栗縣竹南鎮勝利路180巷2號  350.0  0.0  0.0      0
4  20071128000050     新北市土城區學勤路176號13樓  236.0  0.0  0.0      0

## 與現有 搜尋過 經緯度的資料 比對

In [217]:
df_get_back=pd.read_excel(r'C:\Users\RT009223\TestriteGroup\滲透率專案\02_adjusted data\get back.xlsx')
print(df_get_back.shape)
df_get_back.head()

(133014, 6)

               id                addr   zone        lon       lat  check
0  30012476701000        新北市貢寮區鳥崗街13號  228.0  122.00193  25.01326      1
1  20051030000358     新北市貢寮區福興村東興街４７號  228.0  121.99057  25.01205      1
2  20011022000749    新北市貢寮區春福連村臉香蘭街９號  228.0  121.98674  25.01985      1
3  20051219001868  新北市新店區東興街22號3樓DM退件  231.0  121.94981  25.01872      1
4  19980808000468      新北市貢寮區惠牴街25-2號  228.0  121.94576  25.01659      1

In [218]:
df_get_back=df_get_back=df_get_back.loc[:,['id','lon','lat','check']]

In [219]:
df_04_1=pd.merge(df_04_1.loc[:,['id','addr','zone']],df_get_back,on='id',how='left')

In [220]:
df_04_1.lon[df_04_1.lon.isna()]=0
df_04_1.lat[df_04_1.lat.isna()]=0
df_04_1.check[df_04_1.check.isna()]=0

In [221]:
df_04_1.head()

               id                 addr   zone        lon       lat  check
0  30014945802000     新北市鶯歌區三峽鎮復興路142號  239.0  121.37175  24.93830    1.0
1  20030318094413         新北市三峽區公壽路二段5  237.0    0.00000   0.00000    0.0
2  19990117000209  新北市板橋區板橋新海路72巷65號八樓  220.0  121.46136  25.02356    1.0
3  20180203000400      苗栗縣竹南鎮勝利路180巷2號  350.0    0.00000   0.00000    0.0
4  20071128000050     新北市土城區學勤路176號13樓  236.0    0.00000   0.00000    0.0

## 與郵遞區號配對

In [222]:
df_zone=pd.read_excel(r'C:\Users\RT009223\TestriteGroup\滲透率專案\02_adjusted data\郵遞區代碼.xlsx')

In [223]:
df_04_1=pd.merge(df_04_1,df_zone,on='zone',how='left')

In [224]:
geom=[Point(data.lon,data.lat) for idx, data in df_04_1.iterrows()]
crs = {'init': 'epsg:4326'}
df_04_1 = gpd.GeoDataFrame(df_04_1, crs=crs, geometry=geom)
df_04_1.shape

(1108, 9)

In [225]:
df_04_1= gpd.tools.sjoin(df_04_1,gdf, how="left", op='intersects')
df_04_1.shape

(1108, 13)

In [226]:
df_04_1.head()

,id,addr,zone,lon,lat,check,縣市_left,行政區_left,geometry,index_right,縣市_right,行政區_right,村里
0,30014945802000,新北市鶯歌區三峽鎮復興路142號,239.0,121.37175,24.93830,1.0,新北市,鶯歌區,POINT (121.37175 24.93830),6191.0,新北市,三峽區,永館里
1,20030318094413,新北市三峽區公壽路二段5,237.0,0.00000,0.00000,0.0,新北市,三峽區,POINT (0.00000 0.00000),NaN,NaN,NaN,NaN
2,19990117000209,新北市板橋區板橋新海路72巷65號八樓,220.0,121.46136,25.02356,1.0,新北市,板橋區,POINT (121.46136 25.02356),6664.0,新北市,板橋區,文德里
3,20180203000400,苗栗縣竹南鎮勝利路180巷2號,350.0,0.00000,0.00000,0.0,苗栗縣,竹南鎮,POINT (0.00000 0.00000),NaN,NaN,NaN,NaN
4,20071128000050,新北市土城區學勤路176號13樓,236.0,0.00000,0.00000,0.0,新北市,土城區,POINT (0.00000 0.00000),NaN,NaN,NaN,NaN

In [227]:
# 無 map 無 zone
df_04_1_1=df_04_1[(df_04_1['行政區_left'].isna()&df_04_1['村里'].isna())]
print(df_04_1_1.shape)

# 無 map 有 zone
df_04_1_2=df_04_1[(-(df_04_1['行政區_left'].isna())&(df_04_1['村里'].isna()))]
print(df_04_1_2.shape)

# 有 map 無有 zone
df_04_1_3=df_04_1[(df_04_1['行政區_left'].isna()&(-df_04_1['村里'].isna()))]
print(df_04_1_3.shape)

# 有 map 有 zone
df_04_1_4=df_04_1[(-(df_04_1['行政區_left'].isna())&(-df_04_1['村里'].isna()))]
print(df_04_1_4.shape)

(6, 13)
(678, 13)
(13, 13)
(411, 13)

###  有 map 有 zone 合不合

In [228]:
df_04_1_4_1=df_04_1_4[(df_04_1_4['行政區_left']==df_04_1_4['行政區_right'])]
print(df_04_1_4_1.shape)

df_04_1_4_2=df_04_1_4[-(df_04_1_4['行政區_left']==df_04_1_4['行政區_right'])]
print(df_04_1_4_2.shape)

(350, 13)
(61, 13)

### 調整各組資料

In [229]:
df_04_1_1=df_04_1_1.loc[:,['id']]

df_04_1_2=df_04_1_2.loc[:,['id','縣市_left','行政區_left']]
df_04_1_2.columns=['id','縣市','行政區']

df_04_1_3=df_04_1_3.loc[:,['id','縣市_right','行政區_right','村里']]
df_04_1_3.columns=['id','縣市','行政區','村里']

df_04_1_4_1=df_04_1_4_1.loc[:,['id','縣市_right','行政區_right','村里']]
df_04_1_4_1.columns=['id','縣市','行政區','村里']

df_04_1_4_2=df_04_1_4_2.loc[:,['id','縣市_left','行政區_left']]
df_04_1_4_2.columns=['id','縣市','行政區']

In [230]:
df_04_2=pd.concat([df_04_1_4_1,df_04_1_3,df_04_1_4_2,df_04_1_2,df_04_1_1])
df_04_2.shape

(1108, 4)

In [231]:
df_04_2.drop_duplicates(subset=['id']).shape

(1108, 4)

## 無可用地址

In [232]:
df_04_3=df_04[-df_04.id.isin(df_04_2.id)]
df_04_3.shape

(1632, 3)

In [233]:
df_04_3=pd.merge(df_04_3,df_zone,on='zone',how='left')

In [234]:
df_04_3_1=df_04_3[-df_04_3['行政區'].isna()]
print(df_04_3_1.shape)

df_04_3_2=df_04_3[df_04_3['行政區'].isna()]
print(df_04_3_2.shape)

(475, 5)
(1157, 5)

In [235]:
df_04_3_1=df_04_3_1.loc[:,['id','縣市','行政區']]
df_04_3_2=df_04_3_2.loc[:,['id']]

# 完整 SLQ無正確地址的資料

In [236]:
df_04=pd.concat([df_04_2,df_04_3_1,df_04_3_2])
print(df_04.shape)
print(df_04.drop_duplicates(subset=['id']).shape)

(2740, 4)
(2740, 4)

# 存檔

In [237]:
df_04.to_csv('C:/Users/RT009223/TestriteGroup/滲透率專案/02_adjusted data/'+save_file+'會員位置(無正確地址的資料)_一般卡_'+save_year+'.txt',index=0)